@{
    ViewData["Title"] = "Bienvenue dans le TP HN";

    ViewData["Css"] = "Index.css";

    Dictionary<string, string> menus = new Dictionary<string, string>{
        { "Formulaire", "/Home/Index/Formulaire" },
        { "Liste avis", "/Home/Index/ListeAvis" }};
    ViewData["Menus"] = menus;
}

<p>
    <a href="/Home/Index/Formulaire">Remplir le formulaire </a>
</p>
